.boxes{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 100vh;
}
.boxes div{
    border: 2px solid #000;

}
.color{
    background: #485563;
}
.blue{
    background: #7dd4d7;
}
.green{
    background: #a5e264;
}
.red{
    background: #e05151;
}